body {
    background-color: grey;
}

h1 {
    text-align: center;
}

#cursor-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    pointer-events: none;
}

#position {
    position: fixed;
    top: 10px;
    left: 10px;
}

#box-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#div0,
#div1 {
    height: 50vh;
    width: 50vh;
    box-sizing: border-box;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div0 {
    background-color: black;
}

#div1 {
    background-color: blue;
}