body{
    grid-auto-columns: auto;
    
}

/*  */
table {
    border-collapse: collapse;
    border: 3px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
  }
  
  thead {
    background-color: rgb(0, 179, 255);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  /* von MDN leicht abgeändert */